:root{
    --fuentePrincipal: 'Oswald', sans-serif;
    --fuenteSecundaria: 'Open Sans', sans-serif;
    --colorPrincipal: #789DBC;
    --colorSecundario: #1F509A;
    --colorBotonProd: #184588;
    --crema: #FFF8E8;
    --blanco: #ffffff;
}

h1, h2, h3, p, body{
    margin: 0;
}

h1, h2, h3{
    font-family: var(--fuentePrincipal);
}

button{
    font-family: var(--fuenteSecundaria);
}

a{
    text-decoration: none;
}

/* Header y navegación */

/* Pantallas menores a 768px */

.header{
    display: grid;
    padding: 20px;
    row-gap: 15px;
    align-items: center;
    justify-items: center;
    background-color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 14px;
}

li{
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px; 
}

li:hover{
    color: var(--colorPrincipal);
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    .header{
        grid-template-columns: 1fr 3fr 1fr;
        font-size: 16px;
    }

    li{
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
    }
}

/* Pantallas de 1024px en adelante */

@media only screen and (min-width: 1024px) {
    .header{
        font-size: 18px;
    }
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
#barra{
    height: 30px;
    background-color: var(--colorPrincipal);
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra_busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    padding: 20px 0;
}

.barra_busqueda input{
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    min-width: 180px;
}

#logo{
    cursor: pointer;
    color: var(--blanco);
    font-size: 32px;
}

#logo:hover{
    color: var(--colorPrincipal);
}

.icono{
    color: var(--blanco);
    font-size: 30px;
    cursor: pointer;
}

.icono:hover{
    color: var(--colorPrincipal);
}

#numero_carrito{
    font-size: 10px;
    margin: 0;
    margin-left: -5px;
    display: inline-block;
    transform: translate(0, 5px);
}

/* Seccion productos */

section, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-family: var(--fuenteSecundaria);
}

#titulo_bicis{
    text-transform: uppercase;
}

.productos{
    width: 70%;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

/* Pantallas menores a 768px */

.producto{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 240px;
    height: 240px;
    min-width: 240px;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.producto:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 2px 7px 5px rgba(0, 0, 0, 0.2);
    transform: translate(0, -5px);
}

.desc_producto p{
    font-size: 12px;
}

.desc_producto h3{
    font-size: 13px;
}

.desc_producto p, .desc_producto h3{
    margin-bottom: 8px;
}

.desc_producto button{
    width: 40%;
    height: 28px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--colorBotonProd);
    color: var(--blanco);
}

.desc_producto button:hover{
    background-color: var(--colorPrincipal);
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    .producto{
        width: 260px;
        height: 260px;
    }

    .desc_producto button{
        height: 30px;
    }

    .desc_producto p, .desc_producto h3{
        margin-bottom: 10px;
    }
}

/* Pantallas de 1024px en adelante */

@media only screen and (min-width: 1024px) {
    .producto{
        width: 280px;
        height: 280px;
    }

    .desc_producto p{
        font-size: 14px;
    }

    .desc_producto h3{
        font-size: 15px;
    }

    .desc_producto button{
        height: 32px;
    }
}

.producto img{
    height: 60%;
}

/* Sección nosotros y reseñas */

.seccion_nosotros{
    /* width: 60%; */
    margin: 0 auto;
}

.seccion_nosotros p{
    margin-top: 15px;
    width: 250px;
    font-size: 16px;
    text-align: center;
}

.reseñas{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    width: 250px;
    min-width: 200px;
    padding: 10px 0;
}

.reseña{
    text-align: center;
}

.reseña p{
    font-size: 14px;
    margin-top: 5px;
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    .reseñas{
        width: 350px;
        grid-template-columns: 1fr 1fr;
    }
    
    .seccion_nosotros p{
        font-size: 18px;
        width: 450px;
    }

    .reseña p{
        font-size: 16px;
    }
}

/* Pantallas de 1024px en adelante */

@media only screen and (min-width: 1024px) {
    .reseñas{
        width: 550px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .seccion_nosotros p{
        width: 650px;
    }
}


/* Seccion contacto */

form{
    width: 300px;
    display: flex;
    flex-direction: column;
}

input, textarea{
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    display: grid;
    padding-top: 20px;
    gap: 15px;
}

.formulario label{
    display: inline-block;
    width: 100%;
}

.formulario input, .formulario textarea{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.formulario input{
    height: 32px;
}

form button{
    margin: 10px auto;
    width: 35%;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

#parrafo_contacto{
    margin-top: 15px;
    width: 70%;
    text-align: center;
    font-size: 16px;
}

#errores{
    margin-top: 15px;
    color: red;
    font-weight: bold;
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    form{
        width: 55%;
    }
    
    #parrafo_contacto{
        font-size: 18px;
    }
    
    #formulario{
        grid-template-columns: 1fr 1fr;
    }

    #form_mensaje{
        grid-column: 1/3;
    }

    .formulario input{
        height: 34px;
    }
}

/* Pantallas de 1024px en adelante */

@media only screen and (min-width: 1024px) {
    form{
        width: 600px;
    }

    .formulario input{
        height: 36px;
    }
}


/* Footer */

footer{
    margin-top: 20px;
    background-color: var(--colorSecundario);
    font-family: var(--fuenteSecundaria);
    color: var(--blanco);
}

.contenido_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    .contenido_footer{
       flex-direction: row;
    }
}

.contenido_footer h3{
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer>p:last-child{
    width: 60%;
    text-align: center;
}

.iconos_footer img{
    margin: 20px 5px 10px 5px;
}

/* Estilos para página carrito */

.carrito{
    min-height: 65vh;
    width: 320px;
    padding: 40px 20px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    .carrito{
        width: 550px;
    }
}

#parrafo_sin_prods, #parrafo_total{
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}

.detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.detalle p{
    display:inline-block;
    margin: 0 3px;
}

.detalle button{
    background-color: var(--colorBotonProd);
    border: none;
    width: 20px;
    border-radius: 3px;
    color: var(--blanco);
    cursor: pointer;
}

/* Pantallas de 768px en adelante */

@media only screen and (min-width: 768px) {
    .detalle{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .detalle button{
        width: 25px;
    }
}

.prod_carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 200px;
}

.prod_carrito img{
    height: 60px;
}

.icono_eliminar{
    color: var(--colorBotonProd);
    font-size: 30px;
    cursor: pointer;
}

.icono_eliminar:hover{
    color: var(--colorPrincipal);
}


.detalle button:hover{
    background-color: var(--colorPrincipal);
}